.edit-img {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0px;
    text-align: center;
    padding: 8px 0 20px 0;
    font-weight: bold;
    color: #4a4a4a;
    font-size: 14px;
    -webkit-transition: padding, 0.2s, ease-in-out;
    transition: padding, 0.2s, ease-in-out;
}

.form-check-label {
    padding-left: 6px;
    vertical-align: middle;
}

.form-check-input {
    margin-top: 0.8rem;
}

.profile-img {
    height: 200px;
    width: 200px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: auto;
    border: 1px solid #ededed;
}
.rounded-circle {
    height: inherit;
    width: inherit;
}
