.footer-seal {
    margin-bottom: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    min-height: 100%;
}

body {
    margin-bottom: 38rem;
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
    vertical-align: text-top;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

/* Custom page CSS
  -------------------------------------------------- */

/* Not required for template or sticky footer method. */

.csun-seal {
    margin: 1rem;
}

.footer__links {
    margin-top: 1.3rem;
}
