.navbar-brand__sub-brand {
    display: block;
    float: left;
    padding-left: 8px;
    margin: 0px 0 0px 8px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 300;
    color: #4a4a4a;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    border-left: 1px solid #ccc;
}
