.form-label--required::after {
    margin-left: 2px;
    color: #D22030;
    content: "*";
}

.h1__login {
    margin: 3rem 0;
}

.login__spinner {
    margin-top: 28px;
    position: absolute;
    vertical-align: middle;
    margin-left: 12px;
}
